:root {
    --blue: #0100ff;
    --peach: #ffc356;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*, ::before, ::after {
    padding: 0;
    margin: 0;    
    box-sizing: border-box
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #e4e4e4;
}

.blue {
    color: var(--blue);
}

.peach {
    color: var(--peach);
}

#header, .email-form {
    background: linear-gradient(
        90deg,
        black,
        var(--blue)
    );
}

#header {
    display: flex;
    position: sticky;
    top: 0;
}

.logo, #nav-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    background-color: white;
}

#nav-bar {
    justify-content: space-evenly;
    font-size: 1.5rem;
    background-color: rgba(0,0,0,0.75);
}

#nav-bar > p > a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

#nav-bar > p > a:hover {
    color: rgb(122, 122, 122); 
}

/*check first if it has any effect*/
a:visited {
    color: white;
}

.email-form {
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 100%;
    padding: 5%;
}

.email-form > h1 {
    color: white;
    font-size: 3rem;
}

input {
    display: flex;
    margin: 1rem 0;
    font-family: inherit;

}

#email {
    width: calc(100% + 1em);
    padding: 0.5rem;
}

input[type="Submit"] {
    margin: 0 auto;
    background-color: var(--peach);
    color: black;
    padding: 1rem;
    border: none;
    transition: 0.3s;

}

input[type="Submit"]:hover {
    background-color: var(--blue);
    color: white;

}

#features {
    display: grid;
    grid-template: repeat(3, 1fr) / 10% 90%;
    width: 65%;
    margin: 3rem auto;
    row-gap: 3rem;
}

#features p {
    font-size: 1.5rem;
}

iframe {
    display: block;
    margin: 6rem auto;
}

.price-1, .price-2, .price-3 {
    display: flex;
    border: 1px solid rgb(67, 67, 67);
    border-radius: 1rem;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    min-width: 300px;
    overflow: hidden;
    padding-bottom: 1rem;
}

#price-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin: 3rem auto;
}

#price-list > div > h2 {
    background-color: var(--peach);
    width: 100%;
    text-align: center;
}

footer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(199, 199, 199);
    align-items: flex-end;
    padding: 1rem;
}

footer div:first-of-type {
    display: flex;
    flex-direction: row;
    gap: 2em;
    font-size: 1.5rem;
}

footer > div > p > a,  footer > div > p > a:visited{
    color: black;
    text-decoration: none;    
    transition: 0.3s
}

footer > div > p > a:hover {
    color: rgb(84, 84, 84);
    font-weight: bold;
    text-decoration: none;    
}