:root {
    --blue: #0100ff;
    --peach: #ffc356;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*, ::before, ::after {
    padding: 0;
    margin: 0;    
    box-sizing: border-box
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #e4e4e4;
}

.blue {
    color: var(--blue);
}

.peach {
    color: var(--peach);
}

#header {
    display: flex;
    background-color: white;
}

.logo, #nav-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    background-color: white;
    margin-left: 3%;
}

#nav-bar {
    justify-content: space-evenly;
    font-size: 1.5rem;
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

a:hover {
    transition: 0.3s;
    color: rgb(241, 241, 241); 
}

/*check first if it has any effect*/
a:visited {
    color: white;
}

.email-form {
    background: linear-gradient(
        90deg,
        black,
        var(--blue)
    );
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 100%;
    padding: 5%;
}

.email-form > h1 {
    color: white;
}

input {
    display: flex;
    margin: 1rem 0;
    font-family: inherit;

}

#email {
    width: calc(100% + 1em);
    padding: 0.5rem;
}

input[type="Submit"] {
    margin: 0 auto;
    background-color: var(--peach);
    color: black;
    padding: 1rem;
    border: none;
    transition: 0.3s;

}

input[type="Submit"]:hover {
    background-color: var(--blue);
    color: white;

}

